$orange:     #f67600;
$background: #E8EBF0;
$grayText:   #767d88;
$lh:         50px;

.header {
  background:white;
  position:sticky;
  text-align: center;
  line-height: $lh;
  top: 0;
  left: 0;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
      margin: 0px;
      padding: 16px 0px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: -3px;
      line-height: $lh;
      padding-left: 25px;
      color: $grayText;
    }
    nav {
      padding-right: 35px;
      line-height: $lh;

      a{
        cursor: pointer;
      }
      a:hover{
        text-decoration: underline;
      }
    }
  }
}

