<header class='header'>
  <div class='container'>
    <div class='logo'>
      <h1>Cinta Coding</h1>
    </div>

    <div *ngIf="user">
      Post
    </div>
    <nav>
      <div *ngIf="user">
        <b>Welcome, </b> <a [routerLink]="" (click)="onProfile()">{{user ? user.username : ""}}</a>
      </div>
      <div *ngIf="!user">
        <button type="button" (click)="onLogin()">Login</button>
      </div>
    </nav>
  </div>
</header>
