<app-header (loginBtn)="onLogin($event)"></app-header>
<section>
  <div class="container">
    <img @fadeIn *ngIf="!visible" src="assets/images/images.png" alt="image-bg" srcset="">

    <div @fadeIn *ngIf="visible" class="login-content">
      <div class="login-form">
        <p id="title">Login Form</p>
        <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">
          <div class="form">
            <input type="text" placeholder="username" formControlName="username" />
            <div class="error">
              ini error
            </div>
          </div>
          <div class="form">
            <input type="password" placeholder="password" formControlName="password" />
            <div class="error">
              ini error
            </div>
          </div>

          <div class="form">
            <button type="submit" class="btn-login">Login</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
