.container {
  width: 80%;
  height: 80%;
  position: absolute;
  margin: auto;
  top: 60px;
  bottom: 0;
  left: 0;
  right: 0;
  // background-color: #aaa;
}

img {
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

input {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  border: 1px solid #2d9fd9;
  color: #a0d18c;
  width: 250px;
  height: 30px;
  padding-left: 10px;
}

input:focus {
  outline: none;
  border: 1px solid #a0d18c;
  color: #2d9fd9;
}

.login-content {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 30%;
  bottom: 0;
  left: 0;
  right: 0;

  .login-form {
    #title {
      font-weight: 700;
      text-align: center;
    }

    .form {
      margin-top: 10px;
    }
  }
}

.btn-login {
  outline: unset;
  border: unset;
  padding: 8px;
  width: 100%;
  border-radius: 20px;
  background-color: #2d9fd9;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-weight: 700;
  color: #fff;
}

.error {
  color: red;
  font-size: 12px;
  text-indent: 12px;
  margin-top: 5px;
}
