<section>

  <div class="btn-back">
    <a (click)="onBack()" style="text-decoration: underline;color: blue;cursor: pointer;">Back</a>
  </div>

  <div class="detail-user" *ngIf="detailUser">
    <span>Username : {{detailUser.username}}</span><br/>
    <span>Email : {{detailUser.email}}</span><br/>
    <span>Address : {{detailUser.address.city}}</span><br/>
    <span>Phone : {{detailUser.phone}}</span>
  </div>
</section>
