section, .container{
  display: flex;
  justify-content: center;
  justify-items: center;
  text-align: center;

  .content{
    width: 50%;
    margin-bottom: 60px;
    // border: 1px solid red;

    ul {
      list-style-type: none;
    }

    .list{
      border: 1px solid red;
      padding: 20px;
      margin-top: 16px;
    }
  }
}
