<section class="container">
  <div class="content" *ngIf="finalData && finalData.length > 0">
    <ul *ngFor="let item of finalData | paginate: { itemsPerPage: 10, currentPage: p }">
      <li><b>{{item?.username}}</b> <br> {{item?.body}}</li>
    </ul>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
</section>
